/**************** Extra Small Screens From 501px to 767px ****************/

@media (max-width:767px) {
    .header .logo {
        width: 150px;
    }
    .header .menu-link {
        font-size: 28px;
        width: 50px;
        height: 40px;
        line-height: 48px;
    }
    .user-options .page-language {
        display: none;
    }
    .terms .config-terms {
        display: none;
    }
    .terms .terms-content .search-link,
    .terms .terms-content .shop-link {
        font-size: 28px;
    }
    .terms .terms-content:nth-child(1) {
        margin-right: 25px;
    }
    /* Start Side Menu */
    .side-menu {
        width: 260px;
    }
    .side-menu .close {
        font-size: 26px;
    }
    .side-menu-list .menu-li .sidemenu-link,
    .side-menu .user-config .account,
    .side-menu .language {
        font-size: 16px;
    }
    .dept-list .dept-li .dept-list-link,
    .side-menu .user-config .config-box .getin .getin-link,
    .side-menu .page-language .lang .lang-page {
        font-size: 13px;
    }
    /* Start Of Search Bar */
    .search-bar .search-input {
        font-size: 17px;
    }
    .search-bar .search-input::placeholder {
        font-size: 16px;
    }
    .search-bar .close-btn,
    .search-bar .search-btn {
        font-size: 24px;
    }
    .search-bar .close-btn {
        margin-left: 10px;
    }
    .search-bar .search-btn {
        margin-right: 10px;
        margin-top: 3px;
    }
    .terms-content .user-config {
        right: 22px;
    }
    .banner {
        margin-bottom: 30px;
    }
    .products {
        margin-bottom: 40px;
    }
    .products .products-title {
        margin-bottom: 20px;
    }
    .products .owl-carousel .owl-dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }
    .products .owl-carousel button.owl-dot {
        width: 10px;
        height: 10px;
        margin: 4px;
        outline: none;
    }
    .products .owl-carousel button.owl-dot span {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .products .owl-carousel .owl-dots .owl-dot:hover span {
        background-color: #da9eab;
    }
    .products .owl-carousel .owl-dots .owl-dot.active span {
        background-color: #da9eab;
    }
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer .footer-top {
        margin-bottom: 40px;
    }
    .footer-top .one .footer-heading {
        margin-bottom: 10px;
        margin-left: 55px;
    }
    .footer-top .one .info-list .li {
        margin-left: 65px;
    }
    .footer-top .one .footer-heading::after {
        content: '\e874';
        font-family: 'Linearicons-Free';
        position: absolute;
        right: 70px;
    }
    .footer-top .two .footer-heading {
        margin-top: 50px;
        text-align: center;
    }
    .footer-col .newsletter {
        width: calc(100% - 20%);
        margin-right: auto;
        margin-left: auto;
    }
    .footer-bottom .bottom-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-bottom .copyrights {
        margin-bottom: 10px;
    }
    .footer-bottom .copyrights .reserved {
        margin-right: 2px;
        margin-bottom: 5px;
    }
    .nature {
        display: none;
    }
}


/**************** Extra Small Screens From 0 to 500px ****************/

@media (max-width:500px) {
    body {
        background-color: #dfebe8;
    }
    .header {
        background-color: transparent;
    }
    .header .logo {
        width: 120px;
    }
    .header .menu-link {
        font-size: 28px;
        width: 45px;
        height: 35px;
        line-height: 42px;
    }
    .terms .terms-content .search-link,
    .terms .terms-content .shop-link {
        font-size: 25px;
    }
    .terms .terms-content:nth-child(1) {
        margin-right: 25px;
    }
    .banner {
        height: 300px;
    }
    .banner .clouds {
        position: fixed;
        top: 25%;
    }
    .banner .birds {
        position: absolute;
        width: 330px;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    }
    .banner .birds .birds-img {
        width: 100%;
    }
    .banner .right-trees,
    .banner .left-trees,
    .banner .grass {
        display: none;
    }
    .footer {
        position: relative;
        padding-bottom: 0;
        background-color: transparent;
    }
    .footer-top .one .footer-heading {
        margin-left: 15px;
    }
    .footer-top .one .info-list .li {
        margin-left: 25px;
    }
    .footer-top .one .footer-heading::after {
        right: 30px;
    }
    .footer-col .newsletter {
        width: calc(100% - 30px);
    }
    .nature {
        display: block;
        position: relative;
        height: 100px;
    }
    .footer .right-trees {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        width: 200px;
    }
    .footer .right-trees .right-trees-img {
        width: 100%;
    }
    .footer .grass {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 999;
    }
    .footer .grass .grass-img {
        max-width: 100%;
    }
}


/*********************  Small Screens *********************/

@media (min-width:768px) and (max-width:991px) {
    .header .logo {
        width: 170px;
    }
    .header .menu-link {
        font-size: 28px;
        width: 50px;
        height: 40px;
        line-height: 48px;
    }
    .user-options .page-language {
        display: none;
    }
    .terms .terms-content .search-link,
    .terms .terms-content .config-link,
    .terms .terms-content .shop-link {
        font-size: 28px;
    }
    .terms .terms-content:nth-child(1),
    .terms .terms-content:nth-child(2) {
        margin-right: 25px;
    }
    /* Start Side Menu */
    .side-menu {
        width: 300px;
    }
    .side-menu .close {
        font-size: 26px;
    }
    .side-menu-list .menu-li .sidemenu-link,
    .side-menu .user-config .account,
    .side-menu .language {
        font-size: 16px;
    }
    .dept-list .dept-li .dept-list-link,
    .side-menu .user-config .config-box .getin .getin-link,
    .side-menu .page-language .lang .lang-page {
        font-size: 13px;
    }
    /* Start Of Search Bar */
    .search-bar .search-input {
        font-size: 17px;
    }
    .search-bar .search-input::placeholder {
        font-size: 16px;
    }
    .search-bar .close-btn,
    .search-bar .search-btn {
        font-size: 26px;
    }
    .search-bar .close-btn {
        margin-left: 10px;
    }
    .search-bar .search-btn {
        margin-right: 10px;
        margin-top: 7px;
    }
    .terms-content .user-config {
        right: 15px;
    }
    .banner {
        margin-bottom: 30px;
    }
    .products {
        margin-bottom: 40px;
    }
    .products .products-title {
        margin-bottom: 20px;
    }
    .products .owl-carousel .owl-dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }
    .products .owl-carousel button.owl-dot {
        width: 10px;
        height: 10px;
        margin: 4px;
        outline: none;
    }
    .products .owl-carousel button.owl-dot span {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .products .owl-carousel .owl-dots .owl-dot:hover span {
        background-color: #da9eab;
    }
    .products .owl-carousel .owl-dots .owl-dot.active span {
        background-color: #da9eab;
    }
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer .footer-top {
        margin-bottom: 40px;
    }
    .footer-top .one .footer-heading {
        margin-bottom: 10px;
        margin-left: 55px;
    }
    .footer-top .one .info-list .li {
        margin-left: 65px;
    }
    .footer-top .one .footer-heading::after {
        content: '\e874';
        font-family: 'Linearicons-Free';
        position: absolute;
        right: 70px;
    }
    .footer-top .two .footer-heading {
        margin-top: 50px;
        text-align: center;
    }
    .footer-col .newsletter {
        width: calc(100% - 20%);
        margin-right: auto;
        margin-left: auto;
    }
    .footer-bottom .bottom-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-bottom .copyrights {
        margin-bottom: 10px;
    }
    .footer-bottom .copyrights .reserved {
        margin-right: 2px;
        margin-bottom: 5px;
    }
    .nature {
        display: none;
    }
}


/*********************  Medium Screens ********************/

@media (min-width:992px)and (max-width:1199px) {
    .products {
        margin-bottom: 70px;
    }
    .products .owl-carousel .owl-dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }
    .products .owl-carousel button.owl-dot {
        width: 10px;
        height: 10px;
        margin: 4px;
        outline: none;
    }
    .products .owl-carousel button.owl-dot span {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .products .owl-carousel .owl-dots .owl-dot:hover span {
        background-color: #da9eab;
    }
    .products .owl-carousel .owl-dots .owl-dot.active span {
        background-color: #da9eab;
    }
    .footer .footer-top {
        margin-bottom: 60px;
    }
    .nature {
        display: none;
    }
}


/*********************  Large Screens *********************/

@media (min-width:1200px) {
    .nature {
        display: none;
    }
}